#cabecalho{
	position:relative;
	margin:auto;
	width: 100%;
	height: 181px;
	background-image: url(../Image/top_gradiente_s1.png);
	background-repeat: repeat-x;	
	
}

#label_boasVindas{
	
}
#logo-ecommerce{
	
}

#label-administrar{
	
}